package templates

import "fmt"
import "collections-go-htmx-2/repo"

templ CardLi(card repo.Card) {
    <li id={fmt.Sprintf("card-%d", card.ID)}>
        <button
            hx-get={fmt.Sprintf("/collections/%d/cards/%d", card.CollectionID, card.ID)}
            hx-target="body"
            hx-swap="innerHTML"
            hx-push-url="true"
        >
            <p>{card.Title}</p>
        </button>
        <button
            hx-delete={fmt.Sprintf("/collections/%d/cards/%d", card.CollectionID, card.ID)}
            hx-swap="none"
        >
        Delete
        </button>            
    </li>
}

templ CardCreated(card repo.Card) {
    @EmptyAddCardForm()
    <li id={fmt.Sprintf("card-%d", card.ID)} hx-swap-oob="beforeend:#cards-list">
        <button
            hx-get={fmt.Sprintf("/collections/%d/cards/%d", card.CollectionID, card.ID)}
            hx-target="body"
            hx-swap="innerHTML"
            hx-push-url="true"
        >
            <p>{card.Title}</p>
        </button>
        <button
            hx-delete={fmt.Sprintf("/collections/%d/cards/%d", card.CollectionID, card.ID)}
            hx-swap="none"
        >
        Delete
        </button>            
    </li>
    @ToastOOB(Toast{Type: ToastSuccess, Message: "Card created"})
}

templ CardDeleted(id int) {
    <li id={fmt.Sprintf("card-%d", id)} hx-swap-oob="delete"></li>
    @ToastOOB(Toast{Type: ToastSuccess, Message: "Card deleted"})
}