package templates

import "collections-go-htmx-2/repo"

templ CardUpdateForm(card repo.Card) {
    <div id="update-form">
        <form
            hx-put="/collections/%d/cards/%d"
            hx-target="#update-form"
            hx-swap="outerHTML"
        >
            <input name="title" placeholder="title"/>
            <input name="description" placeholder="description" />
            <button type="confirm">Confirm</button>
            <button
                hx-get="/"
            >
            Cancel</button>
        </form>
    </div>
}