package templates

import "collections-go-htmx-2/repo"

templ CardPage(card repo.Card) {
    @Layout() {
        @NavigationPanel() {
            <div>
                <h1>{card.Title}</h1>
                <button
                    hx-get="/cards/update-form"
                    hx-target="#update-form"
                    hx-swap="outerHTML"
                >Update</button>
                <div id="update-form"></div>
                <p>{card.Description.String}</p>
            </div>
        }
    }
}