package templates

import "collections-go-htmx-2/repo"
import "fmt"

templ CardsPage(collection repo.Collection, cards []repo.Card, toasts []Toast) {
    @Layout(toasts) {
        @NavigationPanel() {
            <div>
                <h1>{collection.Title}</h1>
                <button
                    hx-get={fmt.Sprintf("/collections/%d/add-form", collection.ID)}
                    hx-target="#add-form"
                    hx-swap="outerHTML"
                >Add</button>
                <button
                    hx-delete={fmt.Sprintf("/collections/%d", collection.ID)}
                    hx-target="body"
                    hx-swap="outerHTML"
                    hx-push-url="true"
                >Delete</button>
                <div id="add-form"></div>
                <ul id="cards-list">
                    for _, c := range cards {
                        @CardLi(c)
                    }
                </ul>
            </div>
        }
    }
}