package templates

import "collections-go-htmx-2/repo"
import "fmt"

templ CardPage(card repo.Card, toasts []Toast) {
    @Layout(toasts) {
        @NavigationPanel() {
            @CardInfo(card)
        }
    }
}

templ CardInfo(card repo.Card) {
    <div id="card">
        <h1>{card.Title}</h1>
        <button
            hx-get={fmt.Sprintf("/cards/%d/update-form", card.ID)}
            hx-target="#update-form"
            hx-swap="outerHTML"
        >Update</button>
        <button
            hx-delete={fmt.Sprintf("/collections/%d/cards/%d", card.CollectionID, card.ID)} 
            hx-target="body"
            hx-swap="innerHTML"
            hx-push-url="/collections"
        >Delete</button>
        <div id="update-form"></div>
        <p>{card.Description.String}</p>
    </div>
}

templ CardInfoUpdated(card repo.Card) {
    @CardInfo(card)
    @ToastOOB(Toast{Type: ToastSuccess, Message: "Card updated successfully"})
}