package templates

import "collections-go-htmx-2/repo"
import "fmt"

templ CollectionItemLi(collection repo.Collection) {
    <li id={ fmt.Sprintf("collection-%d", collection.ID) }>
        <button
            hx-get={ fmt.Sprintf("/collections/%d/cards", collection.ID) }
            hx-target="body"
            hx-swap="innerHTML"
            hx-push-url="true"
        >
            <p>{ collection.Title }</p>
        </button>
        <button
            hx-delete={ fmt.Sprintf("/collections/%d", collection.ID) }
            hx-swap="none"
        >Delete</button>
    </li>
}

templ CollectionCreated(collection repo.Collection) {
    @EmptyAddForm()
    <ul id="collections-list" hx-swap-oob="beforeend">
        <li id={ fmt.Sprintf("collection-%d", collection.ID) }>
            <button
                hx-get={ fmt.Sprintf("/collections/%d/cards", collection.ID) }
                hx-target="body"
                hx-swap="innerHTML"
                hx-push-url="true"
            >
                <p>{ collection.Title }</p>
            </button>
        </li>
    </ul>
    @ToastOOB(Toast{Type: ToastSuccess, Message: "Collection created"})
}

templ CollectionDeleted(id int) {
    <li id={fmt.Sprintf("collection-%d", id)} hx-swap-oob="delete"></li>
    @ToastOOB(Toast{Type: ToastSuccess, Message: "Collection deleted"})
}