package templates

import "collections-go-htmx-2/repo"

templ CollectionPage(title string, cards repo.Card) {
    @Layout() {
        @NavigationPanel() {
            <div>
                <h1>{title}</h1>
                <ul>
                </ul>
            </div>
        }
    }
}