package templates

templ ErrorPage(msg string, toasts []Toast) {
    @Layout(toasts) {
        @NavigationPanel() {
            <div>
                <h1>Error</h1>
                <p>{msg}</p>
            </div>
        }
    }
}