package templates

templ Layout() {
	<html>
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<title>Collections</title>
		</head>
		<body>
    		{ children... }
		</body>
	</html>
}
