package templates

templ Layout(toasts []Toast) {
	<html>
		<head>
			<script src="https://unpkg.com/htmx.org@1.9.10"></script>
			<title>Collections</title>
		</head>
		<body>
			@ToastContainer(toasts)
			<div id="main">
				{ children... }
			</div>
		</body>
	</html>
}
