package templates

templ ProfilePage(email string, username string, toasts []Toast) {
	@Layout(toasts) {
		@NavigationPanel() {
			<div>
				<h1>Profile</h1>
				<p>Your email: {email}</p>
				<p>Your username: {username}</p>
				<button hx-post="/logout">Logout</button>
			</div>
		}
	}
}